extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li
      a(href="/towns/shibuya") SHIBUYA
    li
      a(href="/towns/shinjuku") SHINJUKU
    li
      a(href="/towns/ginza") GINZA
    li
      a(href="/towns/yokohama") YOKOHAMA


  //- Ajaxテスト
  script.
    function func() {
      var form = new FormData(document.querySelector("#form1"));
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/', 'true');
      xhr.responseType = 'json';
      xhr.onload = function(e) {
        if (this.status == 200) {
          var result = this.response;
          console.log(typeof(result));
          var msg = '<p>' + result.mail + '</p>'
          document.querySelector('#msg').innerHTML = msg;
        }
      };
      xhr.send(form);
    }

  p#msg #{msg}
  form#form1(method="post", action="javascript:return false;")
    p name
    p
      input#name(type="text", name="name")
    p
      input(type="button", value='Ajax', onclick="func();")


block scripts
  script(src="/lib/lib.js")
