extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li
      a(href="/towns/shibuya") SHIBUYA
    li
      a(href="/towns/shinjuku") SHINJUKU
    li
      a(href="/towns/ginza") GINZA
    li
      a(href="/towns/yokohama") YOKOHAMA