/* ==========================================================================
   Foundation
   ========================================================================== */

/* Reset
   ----------------------------------------------------------------- */

/* Base
   ----------------------------------------------------------------- */
html, body {
  background: lightgray;
}

/* ==========================================================================
   Layout
   ========================================================================== */


/* Nav
   ----------------------------------------------------------------- */


/* Header
   ----------------------------------------------------------------- */


/* Main
   ----------------------------------------------------------------- */


/* Section
   ----------------------------------------------------------------- */


/* ==========================================================================
   Object
   ========================================================================== */

/* Component
   ----------------------------------------------------------------- */

.town-card-wide {
  margin: 2em auto 0;
  width: 100%;
  max-width: 500px;

  .mdl-card {
  }
  & > .mdl-card__title {
    height: 500px;
    color: #fff;

    & > .mdl-card__title-text {

      img {
        width: 2em;
        height: 2em;
        margin-right: 1em;
      }
    }
  }
  & > .mdl-card__menu {
  }
}


/* Project
   ----------------------------------------------------------------- */

/**
 * Articles
 */


/* Utitlity
   ----------------------------------------------------------------- */

/**
 * Clearfix
 */



/**
 * Display
 */


/**
 * Margin
 */

